/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
 @import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
 @import url(https://fonts.googleapis.com/css?family=Righteous);
 @import url(https://fonts.googleapis.com/css?family=Candal);
 @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
 @import url(https://fonts.googleapis.com/css?family=Monoton);

/* fonts by https://codepen.io/boldfacedesign/pen/EoGgD*/

.vectro {
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #f1f1f1;
    font-family: 'Righteous', cursive;
    font-size: 160px;
  }
  
  .vectro:after {
    content: '';
    position: absolute;
    left: -10;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  
  
  .windows .vectro {
    -webkit-text-stroke: 4px #f1f1f1;
  }
  
  .vectro-body {
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
    -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  }
  
  .vectro-red {
    color: #F10C20;
    -webkit-text-fill-color: #F10C20;
    -webkit-text-stroke: 0;
    -webkit-filter: drop-shadow(2px 2px 15px #F10C20);
    font-style: italic;
    padding-right: 20px;
  }
  
  .windows .vectro-red {
    padding-right: 30px;
  }
  
  .vectro-green {
    color: #6BFF2B;
    -webkit-text-fill-color: #6BFF2B;
    -webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
    -webkit-text-stroke: 0;
    font-style: italic;
    padding-right: 20px;
    margin-left: -20px;
  }
  
  .windows .vectro-green {
    padding-right: 30px;
    margin-left: -30px;
  }
  
  .vectro-blue {
    color: #3F59F4;
    -webkit-text-fill-color: #3F59F4;
    -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
    -webkit-text-stroke: 0;
    font-style: italic;
    padding-right: 20px;
    margin-left: -20px;
  }
  
  .windows .vectro-blue {
    padding-right: 30px;
    margin-left: -30px;
  }

  /* All other styling */
  

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    /* The image used */
    background-image: url("/www/assets/space3.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    text-transform:uppercase;
    width:100%;
}
.melon-phaser-title {
    margin-top:10%;
    padding: 10%;
    color:#E4E4E4;

}

/* Portrait layout (default) */
.app {
    position: absolute;
    margin-left:33%;
    margin-right:33%;
    width:33%;
    text-align:center;
}
#xIcon {
    position: fixed;
    top: 5%;
    left: 95%;
    background-color: red;
    border-radius: 50%;
    padding: 1.5rem;
}

button {
    width: 100%;
    margin: 15px;
}

/* Landscape layout (with min-width) */
/* @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
} */

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.5; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.5; }
}

@keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.5; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.5; }
}


.blink {
    animation:fade 3000ms linear infinite;
    -webkit-animation:fade 3000ms linear infinite;
}
.pulse {
    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out; 
    -moz-animation: pulse 3s infinite ease-in-out; 
    animation: pulse 3s infinite ease-in-out;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}
